body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main1 {
    /*width: 100vh;*/
    background-color: #1F2937;
}

.main2 {
    display: flex;
    padding: 60px;
    gap: 20px;
}



.logo {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #f9faf8;
}

.top-page {
    display: flex;
    margin-bottom: 30px;
    color: #f9faf8;
    padding: 60px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-sub {
   font-size: 18px;
   color: #f9faf8;
   margin-bottom: 10px;
    
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    flex-direction: row;
    list-style-type: none;

}

.top-links {
    display: flex;
    margin-left: auto;
}

button {
    background-color: #3882f6;
    padding: 2px 20px;
    border-radius: 10%;
    color: #f9faf8;
}

img {
    width: 500px;
    height: auto;
}